body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

.navbar .sign-up {
    padding: 5px 10px 5px 10px;
}

#sign-nav {
    float: right;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
        margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
        padding: 0;
    }
}

/** Custom Style **/
.row.col p,
.row.col h2 {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.row p {
    color: #FFF;
}

.row {
    box-sizing: border-box;
}

.row .col {
    text-align: center;
}

.row img {
    margin-bottom: 10px;
}

.finance {
    /*background-color: #468966;*/
    background-color: #88A825;
}

.health {
    /*background-color: #FFF0A5;*/
    background-color: #35203B;
}

.education {
    /*background-color: #FFB03B;*/
    background-color: #911146;
}

.socialize {
    /*background-color: #B64926;*/
    background-color: #CF4A30;
}

.commerce {
    /*background-color: #8E2800;*/
    background-color: #ED8C2B;
}

.panel {
    border: 0;
    border-bottom: none;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 25px;
}

.panel:first-child {
    margin-top: 14px;
}

.panel a,
a .panel {
    color: #fff;
}

a .panel:hover {
    text-decoration: none;
}

.panel-group {

}

.panel-heading {
    border-radius: 0;
    background-color: transparent;
    border-bottom: none;
    padding: 0 15px;

    margin-left:auto;
    margin-right:auto;
}

.panel-body {
    color: #fff;

    margin-left:auto;
    margin-right:auto;
}

.col-lg-4 {
    /*float: left;*/
}

.container {
    width: 100%;
    max-width: 100%;
}

.nav-collapse.in.collapse button {
    text-align: center;
}

h4.panel-title {
    color: #fff;
    text-align: center;
}

/** Footer **/
footer {
    color: #666;
    padding: 25px;
}

footer ul {
    margin: 0;
}

footer ul li {
    list-style-type: none;
    display: inline;
    padding: 0 5px 0 0;
}


/** signup.html **/
.submit-number,
.input-number{
    border-radius: 0 !important;
}

/** videos.html **/

.row iframe {
    width: 100%;
}

.panel-body img {
    background-color: #fff;
    border-radius: 14px;
}

.socialize img,
.commerce img {
    background-color: transparent;
    border-radius: 14px;
}